body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}

#container{
	border: 1px solid red;
	margin: 0 auto;
	width: 720px;
	background: #fff;
}

#marca{
	border: 1px solid red;
	height: 100px;
	background: #9e9e9e;
	text-align: center;
	line-height: 100px;
}

#conteudo{
	border: 1px solid red;
	width: 520px;
	float: right;
}

#navegacao{
	border: 1px solid red;
	width: 180px;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #d1d1d1;
}

#rodape{
	border: 1px solid red;
	clear: both;
	background: #c4c4c4;
	padding: 5px;
}

#navegacao ul {
	list-style: none;
}

#navegacao ul a{
	text-decoration: none;
}

#conteudo-principal{
	border: 1px solid red;
	float: left;
	width: 320px;
}

#conteudo-secundario{
	border: 1px solid red;
	float: right;
	width: 180px;
	background: #d1d1d1;
}

#conteudo-secundario h2, #conteudo-secundario p{
	padding-left: 20px;
	padding-right: 20px;
}

